<h3>今日のランチは……</h3>
<h1><%= @recommend.name %></h1>
<h2><%= @recommend.product %></h2>
<h3>住所：<%= @recommend.address %></h3>
<h3>TEL：<%= @recommend.tel %></h3>
<h3>開店時間：<%= @recommend.open %> 〜 <%= @recommend.close %></h3>
